* {
    padding: 0;
    margin: 0;
}

.body {
    background-image: url("bg.jpg");
    width: 100vw;
    height: 100vh;
    background-position: left 0% bottom 0%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 20px;
    right: 195px;
    font-size: 34px;
    padding: 2px 7px;
    background-color:rgb(127, 152, 71);
    border: 2.5px solid black;
    font-weight: bold;
}

#hiscoreBox {
    position: absolute;
    top: 75px;
    right: 140px;
    font-size: 35px;
    padding: 2px 7px;
    font-weight: bold;
}

#board{
    background-color: rgb(127, 152, 71);
    height: 90vmin; 
    width: 90vmin;
    margin-right: 280px;
    border: 2.5px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background-color: rgb(43, 117, 33);
    z-index: 2;
    border: 0.3vmin solid black;
    border-radius: 11px;
    transform: scale(1.02);
}

.snake {
    background-color: rgb(141, 188, 1);
    border: 0.3vmin solid rgb(44, 27, 27);
    border-radius: 13px;
}

.food{
    background-color: rgb(220, 201, 116);
    border: 0.33vmin solid black;
    border-radius: 17px;
    transform: scale(0.85);
}

#speedLabel {
    position: absolute;
    top: 135px;
    right: 295px;
    font-size: 20px;
    font-weight: bold;
}
#speedControl {
    position: absolute;
    top: 139px;
    right: 165px;
}

#speedValue {
    position: absolute;
    top: 135px;
    right: 138px;
    font-size: 20px;
    font-weight: bold;
}